/* Estilo básico */
body {
    background-color: #EEEE33;
    color: #DD0000;
    font-size: 16px;
    font-family: "Verdana, Liberation", sans-serif;
}
a:link {
    color: #DD0000;
    text-decoration: none;
}
a:visited {
    color: #CC0000;
    text-decoration: none;
}
header {
    display: block;
    margin-bottom: 1px;
}
nav {
    float: left;
    display: block;
    width: 20%;
}
nav ul {
    list-style-image: url(img/Engrenagem.png);
    margin-top: 40px;
    line-height: 230%;
}
section {
    display: block;
    width: 77%;
    float: right;
}
.ender {
    float: right;
    text-align: right;
    font-size: 15px;
    line-height: 140%;
}
img.imgLogo {
    border-bottom: 3px solid;
    margin-bottom: 6px;
    padding-bottom: 15px;
}
.apres {
    text-align: center;
    font-size: 18px;
}
/* Estilo da página Peças */
.listaPecas {
    color: #000066;
    list-style-type: upper-roman;
}
.listaPecas ul {
    list-style-image: url(img/Engrenagem.png);
    line-height: 230%;
}
.listaPecas .preco {
    color: #FF0000;
    font-weight: bold;
}
/* Estilo da página Bicicletas */
.tabBike {
    border-collapse: collapse;
    margin-top: 6px;
    background-color: #FFCC44;
    color: #000066;
    font-family: "Arial, Ubuntu", sans-serif;
}
.tabBike td, th {
    border: 3px solid #226699;
    padding: 6px 12px;
}
.titulo {
    color: #FFFF00;
    background-color: #228855;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}
.linTH {
    color: #FFFFFF;
    background-color: #22AA55;
    vertical-align: middle;
    text-align: center;
}
.colTH {
    color: #FFFFFF;
    background-color: #2299DD;
    text-align: left;
}
.preco {
    color: #EE0000;
    font-weight: bold;
    vertical-align: middle;
}
.tabBike img {
    width: 70px;
    height: 70px;
}
/* Estilo da página de cadastro */
form h3 {
    color: #000066;
    font-weight: bold;
}
.divLinha {
    width: 480px;
    margin-bottom: 6px;
    display: inline-block;
}
fieldset {
    margin: 20px 10px 0px 10px;
    width: 480px;
}
textarea {
	width: 370px;
	height: 50px;
}
fieldset.fsEsq {
    float: left;
    display: inline;
    margin: 0px;
    width: auto;
}
fieldset.fsDir {
    float: right;
    display: inline;
    margin: 0px;
    width: auto;
}
.sub.divLinha {
    display: inline;
}
.botoes {
    text-align: right;
    margin: 20px -32px 0px 10px;
}
.colPri {
    float: left;
    display: block;
    width: 90px;
}
.elemDir {
    float: right;
    display: block;
}
.inpGrande {
    width: 370px;
}
.inpMedio {
    width: 120px;
}
.numDD {
    width: 30px;
}
.numQD {
    width: 50px;
}